.header-img {
    width: 100%;
    height: auto;
    display: block;
}

.foto-profil {
    width: 30px;
    border-radius: 0%;
}

.background-size {
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.logo-img {
    width: 50px;
    border-radius: 0%;
}

.jeki-img {
    width: 30px;
    border-radius: 0%;
}

.profil-img {
    width: 60px;
    border-radius: 0%;
}